<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>BTC Wallet Generator</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
    />

    <style>
      .wallet {
        background: rgb(0, 148, 185);
        padding: 1rem;
        border-radius: 5px;
        color: white;
      }
      .container {
        max-width: 500px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .header {
          text-align: center;
      }

    </style>
  </head>
  <body>
    <div class="header" >
      <h4>BITCOIN Wallet Generator</h4>
    </div>

    <!-- Form -->
    <div class="container">
        <form action="/" method="POST">

            <input class="container" type="submit" value="Generate" id="calc_btn" />
            <br><br>
            <div class="wallet">
                {{ address }}
            </div>
        </form>
    </div> 

    <br><br><br><br>
    <!-- Form -->
    <div class="container">
        <form action="/" method="POST">
            <input class="input" type="text" name="user_phrase" placeholder="Enter Your Brain Phrase...&hellip;">
            <br><br>
            <div class="wallet">
                {{ brain }}
            </div>
        </form>
    </div>  
  </body>
</html>